h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}


a{
    font-weight: 300;
}

/******Class Selectors*****/
.container-fluid{
    padding: 5% 15% 8%; 
}

/* Navigation bar */

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    z-index:0px;
    right:30%;
}

.center{

        text-align: center; 
        width: 100%; 

}
/* Features section */
#features{
    padding: 2% 15% 2% 15%;
    background-color: #fff;
    position: relative;
    z-index:1;
}

.feature-icon{
    margin-bottom: 3%;
    color:#ef8172;
}

.feature-icon:hover{
    color:#ff4c68;
}

.feature-h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    
}
.feature-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #8f8f8f;
}

/* Testimonials */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color:#fff;
}

.testimonials-h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image{
    border-radius: 100%;
    width:10%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

.pricing-h3{
    font-family: "Montserrat";
    font-weight: 900;
}

.pricing-h2{
    font-family: "Montserrat";
    font-weight: 900;
}
/******ID SELECTORS*******/
#title{
    background-color: #ff4c68;
    color: #fff;
}

#features{
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    margin: 5% 5% 5% 5%;
}